.env
received_eml/*.eml
received_eml/*.json
proofs/*.json
proofs/*/*.json

venv/
inputs/*.json

__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*


src/*/build/
tlsn-verifier/target
tlsn-verifier/*.txt
tlsn_verify_outputs/*.txt

certs/*.json